.manage-specialty {
    .manage-specialty-action {
        display: flex;
        // justify-content: center;
        align-items: center;
        .form-select {
            width: 200px;
            margin: 0 20px;
        }
    }
}
