.manage-specialty-container {
    // padding: 0 16px;
    // width: 100%;
    // margin: 0 40px;

    .text-title {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
    }

    .dropdown-btn {
        margin-top: 54px;
    }
}
