.news-detail-img {
   height: 690px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   background-position: center;
}
