.manage-specialty {
   .btn-action {
      display: flex;
      .btn-add {
         float: right;
         height: 36px;
         margin-left: 490px;
      }
   }

   .manage-specialty-action {
      display: flex;
      align-items: center;
      .form-select {
         width: 200px;
         margin: 0 20px;
      }
   }
}
