@import "../../styles/setting";
@import "../../styles/customArrowSlice.css";
header {
   .main-utility {
      background-color: #0063aa;
      width: 100%;
      height: 50px;
      color: #ffffff;
      font-size: 15px;
      display: inline-block;
      margin-right: auto;
      .test {
         cursor: pointer;
         .text-test {
            margin-right: 8px;
         }
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .language-option {
         display: inline-block;
         margin: 0 20px;
         position: relative;
         cursor: pointer;
         .flag-icon {
            margin-right: 4px;
         }
         .language-option-icon {
            margin-left: 10px;
         }

         .language-list {
            padding: 0;
            position: absolute;
            width: 140px;
            top: 28px;
            right: 0px;
            background-color: #f0ede6;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: default;
            transform-origin: calc(100% - 32px) top;
            will-change: opacity, transform;
            // animation: headerNotifyGrowth ease-in 0.2s;
            display: none;
            z-index: 1;
            border-radius: 2px;
         }
         &:hover {
            .language-list {
               display: block;
               transform-origin: 90% right; // de thay doi tam
               animation: languageList 0.2s ease-in;
            }
            &::after {
               content: "";
               border-width: 20px 27px;
               border-style: solid;
               border-color: transparent transparent #e2ddd3 transparent;
               position: absolute;
               animation: languageList 0.2s ease-in;
               top: 0;
               right: 0;
            }
            &::before {
               content: "";
               border: 20px solid transparent;
               width: 70px;
               position: absolute;
               top: -10px;
               right: 0;
            }
         }

         .language-item {
            color: darken($main-color, $amount: 8);
            display: flex;
            align-items: center;
            float: left;
            width: 100%;
            height: 40px;
            img {
               display: block;
               width: 40px;
               padding: 5px 10px;
            }
            cursor: pointer;
            &.language-item-active {
               background-color: rgb(144, 204, 253);
            }
         }
      }

      .phone-contact {
         display: inline-block;
         margin-right: 20px;
         .phone-icon {
            font-size: 16px;
            color: white;
            margin-right: 6px;
         }
         &:hover {
            cursor: pointer;
            opacity: 0.8;
         }
      }
      .login {
         display: inline-block;
         margin-right: 20px;

         .login-icon {
            font-size: 16px;
            color: white;
            margin-right: 6px;
         }
         &:hover {
            cursor: pointer;
            opacity: 0.8;
         }
      }
   }

   .main-menu {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      .logo {
         width: 20%;
         padding-left: 36px;
         cursor: pointer;
      }

      .main-menu-content {
         width: 80%;
         position: relative;
         .menu-content-list {
            min-width: 160px;
            position: relative;
            display: inline-block;
            margin: 16px;

            .arrow-down-icon {
               font-size: 12px;
               margin-left: 8px;
            }
            .menu-content-ul {
               display: flex;
               .content-item {
                  cursor: pointer;
                  margin-right: 50px;

                  position: relative;
                  .content-item-title {
                     text-transform: uppercase;
                     position: relative;
                  }
                  .content-item-expand {
                     position: absolute;
                     border-radius: 2px;
                     border-top: solid 2px #e2ddd3;
                     background-color: #f0ede6;
                     top: 52px;
                     left: 0;
                     z-index: 1;
                     width: fit-content;
                     block-size: fit-content;
                     display: none;
                     z-index: 20;
                     transform-origin: calc(100% - 32px) top;
                     will-change: opacity, transform;

                     .content-item-detail {
                        cursor: pointer;
                        block-size: fit-content;
                        width: max-content;
                        margin: 12px 12px 0 0;
                        padding-left: 12px;
                        padding-bottom: 12px;
                        z-index: 20;

                        &:not(:last-child) {
                           border-bottom: 1px solid #e2ddd3;
                           width: 100%;
                        }
                        &:hover {
                           color: #198cd0;
                        }
                     }

                     &::before {
                        content: "";
                        border: 26px solid transparent;
                        width: 145px;
                        position: absolute;
                        top: -38px;
                        left: 4px;
                     }
                  }

                  &::after {
                     content: "";
                     border-width: 15px 20px;
                     border-style: solid;
                     border-color: transparent transparent #e2ddd3 transparent;
                     position: absolute;
                     display: none;
                     top: 32px;
                     left: 6px;
                  }
               }
               .content-item:hover {
                  &::after {
                     display: block;
                     transform-origin: 90% left; // de thay doi tam
                     animation: languageList 0.2s ease-in;
                  }
                  .content-item-expand {
                     display: block;
                     transform-origin: 90% left; // de thay doi tam
                     animation: languageList 0.2s ease-in;
                  }
               }
            }
         }
      }
   }

   .navbar-contact {
      background-color: wheat;
      height: 76px;
      display: flex;
      .navbar-item {
         justify-content: center;
         display: flex;
         width: 25%;
         height: 76px;
         align-items: center;
         border: solid 1px #dfdfdf;
         background-color: #f9f9f9;
         .navbar-icon {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
         }

         .navbar-item-title {
            color: $main-color-soft;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
         }
      }
   }
}
@keyframes languageList {
   from {
      opacity: 0;
      transform: scale(0);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}
