.bg-ask-doctor {
   width: 1349px;
   height: 400px;
   background: url("../../assets/askDoctor.png") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.btn-question {
   display: flex;
   justify-content: center;
}
