@import "../../styles/setting";

.input-search-homepage {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   top: -34px;
   .input-search-border {
      position: absolute;
      top: -12%;
      width: 500px;
      height: 68px;
      background-color: white;
      border-radius: 45px;
      border: 2px solid #d8d8d8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input-search-content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .input-search {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            width: 380px;
            height: 64px;
            border: none;
            border-right: 2px solid #f9f9f9;
            outline: none;
            padding-left: 30px;
         }
         .input-search-icon {
            width: 60px;
            height: 60px;
            color: #999;
            padding: 0px 14px 0px 19px;
            cursor: pointer;
         }
      }
   }
}
.banner-slide {
   .bg-image {
      width: 1349px;
      height: 525px;
      background: url("../../assets/slide1.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}

.carousel .control-dots {
   margin-bottom: 42px;
}
.carousel-status {
   display: none;
}

.info-hospital {
   display: flex;
   justify-content: center;
   align-items: center;

   .info-hospital-header {
      justify-content: center;
      padding: 16px 26px;
      margin-bottom: 16px;

      .info-hospital-header__tilte,
      .info-hospital-body__percent {
         font-size: 32px;
         font-weight: bold;
         color: $main-color;
         justify-content: center;
      }
      .info-hospital-header__text {
         justify-content: center;
      }
   }

   .info-hospital-body {
      .info-hospital-body-statistic {
         .statistic-percent {
            font-size: 28px;
            font-weight: bold;
            color: $main-color;
         }
         .statistic-info {
            color: $main-color-soft;
            font-size: 18px;
            font-weight: bold;
         }
      }
      .info-hospital-content {
         text-align: justify;
         padding-right: 30px;
      }
   }
   .info-hospital-btn {
      margin: 40px 0;
      gap: 16px;
      justify-content: center;
   }
}
