@import "../../styles/setting";

.manage-menu {
   width: 300px;
   height: 100vh;
   height: auto;
   position: fixed;
   background-color: #333333;
   color: white;

   .manage-menu-header {
      border-bottom: 1px solid #f9f9f9;
      font-size: 20px;
   }
}
