@import "../../../styles/setting";
@import "../../../styles/customArrowSlice.css";

.section-news {
   // height: 780px;
   height: 870;
   width: 100%;
   padding: 0 44px;
   background-color: #e9e9e9;
   .news-header {
      .news-header-title {
         text-align: center;
         padding: 42px;
         color: $main-color;
         font-weight: bold;
      }
      .news-header-content {
         padding: 12px 0 36px 0;
         max-width: 800px;
         // margin: 0 auto;
         text-align: center;
         font-size: 18px;
         color: $text-color;
      }
   }

   .news-content {
      .news-slide {
         .bg-image {
            width: 340px;
            // width: 535px;
            height: 220px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #eee;
            &.news-slide-img {
               background-image: url("../../../assets/slide1.jpg");
            }
         }

         .slide-item-content {
            padding: 0 16px 0 16px;
            // height: 212px;
            // width: 535px;
            height: 200px;
            width: 340px;
            background-color: white;
            border-bottom: 1px solid #e9e9e9;
            .slide-item-content-title {
               cursor: pointer;
               padding-top: 24px;
               padding-bottom: 16px;
               font-size: 28px;
               color: $main-color;
            }
            .slide-item-content-body {
               font-size: 18px;
               color: $text-color;
               overflow: hidden;
               // width: 515px;
               // width: 340px;
               width: 322px;

               display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
            }

            .read-more {
               font-size: 14px;
               color: $main-color;
               padding-top: 16px;

               &:hover {
                  opacity: 0.8;
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
         }
      }
   }
}

.news-body {
   width: 1349px;
   background-color: #f3f3f3;
   padding: 25px 135px 35px;
}
.news-item {
   // overflow: hidden;
   .news-thumbnail {
      background-size: cover;
      height: 229px;
      width: 340px;
   }

   .news-item-content {
      padding: 0 16px 0 16px;
      height: 200px;
      width: 340px;
      background-color: white;
      border-top: 1px solid #e9e9e9;

      .news-item-info {
         font-weight: bold;
         color: #d0021b;
         font-size: 18px;
      }

      .news-item-content-title {
         cursor: pointer;
         padding-top: 16px;
         padding-bottom: 16px;
         font-size: 28px;
         max-height: 82px;
         color: $main-color;
         overflow: hidden;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
      }

      .news-item-content-body {
         font-size: 18px;
         color: $text-color;
         overflow: hidden;
         width: 322px;

         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
      }

      .read-more {
         font-size: 14px;
         color: $main-color;
         padding-top: 16px;

         &:hover {
            opacity: 0.8;
            text-decoration: underline;
            cursor: pointer;
         }
      }
   }
}

// .rec-slider-container {
//    margin: 0 20px 0 20px;
// }

button.rec-dot_active {
   background-color: rgba(16, 129, 235, 1);
   box-shadow: 0 0 1px 3px rgba(16, 129, 235, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
   box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}
.see-all-new {
   justify-content: center;
   margin: auto;
   display: flex;
   // margin-top: 24px;
   padding: 24px 0 48px 0;
}
