@import "../../../styles/setting";
@import "../../../styles/customArrowSlice.css";

.section-services {
   // height: 870px;
   width: 100%;
   padding: 0 44px;
   background-color: #e9e9e9;
   .service-header {
      .service-header-title {
         text-align: center;
         padding-top: 92px;
         color: $main-color;
         font-weight: bold;
      }
      .service-header-content {
         padding: 12px 0 36px 0;
         max-width: 800px;
         margin: 0 auto;
         text-align: center;
         font-size: 18px;
         color: $text-color;
      }
   }

   .service-content {
      .service-slide {
         .bg-image {
            width: 535px;
            height: 328px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #eee;
            &.service-slide-img {
               background-image: url("../../../assets/slide1.jpg");
            }
         }

         .slide-item-content {
            padding: 0 16px 0 16px;
            height: 212px;
            width: 535px;
            background-color: white;
            border-top: 1px solid #e9e9e9;
            .slide-item-content-title {
               cursor: pointer;
               padding-top: 24px;
               padding-bottom: 16px;
               font-size: 28px;
               color: $main-color;
            }
            .slide-item-content-body {
               font-size: 18px;
               color: $text-color;
               overflow: hidden;
               width: 515px;
               display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
            }

            .read-more {
               font-size: 14px;
               color: $main-color;
               padding-top: 16px;

               &:hover {
                  opacity: 0.8;
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
         }
      }
   }

   .see-all {
      margin: 24px 0;
      padding-bottom: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      .see-all-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         border-color: $main-color-soft;
         border-radius: 5px;
         outline: $main-color;
         font-weight: 700;
         color: $main-color;
         width: 230px;
         background-color: white;
         transition: all 0.3s ease;
         border-radius: 4px;
         height: 50px;

         &:hover {
            color: white;
            background-color: $main-color;
         }
      }
   }
}

.rec-slider-container {
   margin: 0 20px 0 20px;
}

button.rec-dot_active {
   background-color: rgba(16, 129, 235, 1);
   box-shadow: 0 0 1px 3px rgba(16, 129, 235, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
   box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}
